@import "bootstrap_scss/bootstrap.scss";
@import "../css/assets/owl.carousel.css";
@import "../css/assets/owl.theme.default.css";

//Global Styles
$lia-main: #238BA1;
$lia-light: #A9E1ED;
$tbm-main: #AC6E51;
$tbm-light: #EDC7B5;
$bfts-main: #242B3B;
$bfts-light: #8F96A5;

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin:0 auto;
}


//header Styles
.header {
  text-align: center;
  background-image: url(/images/test_01.jpg);
  height: 100vh;
  background-size: cover;
  color: white;

  h1 {
    padding-top: 45vh;
    font-family: "viktor-script";
    font-size: 5em;
    text-shadow: 2px 2px 8px #000000;
  }

  img {
    margin-top: 40vh;
  }
}



//Nav Styles
.nav_parent{
  background-color: $lia-main;
  transition: background-color 0.5s ease;
.nav {
  margin: -.8rem auto -1.3rem auto;
  .logo {
    font-family: "viktor-script";
    font-size: 1.5em;
    color: white;
    padding-top: 1rem;
  }
  .nav_dropdown {
    background-color: $lia-main;
  }
}
  button {
    margin-top: .8rem;
  }
}


//Project pannel styles
.projects {
  margin: 2rem auto 2rem auto;
  .tbm {
    font-family: "verveine";
    font-size: 1.5rem;
    font-weight: 100;
  }
  .lr {
    font-family: "viktor-script";
    font-size: 1.5rem;
    font-weight: 100;
  }
  .bfts {
    font-family: "orator-std",monospace;
    font-size: 1.5rem;
    font-weight: 100;
  }
}

.item {
  -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  margin: 1rem auto;
}


//bio styles
.bio {
  -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
}

.biopic{
  padding-bottom: 1rem;
}


//Music Styles

.music_item {
  margin: 2rem 0;
}


.lr_playlist {
  background-color: $lia-main;
  color: white;
  font-family: "viktor-script";
  font-size: 1.5em;
  padding: 1rem;
  line-height: 1.3em;
}

.bfts_playlist {
  background-color: $bfts-main;
  color: white;
  font-family: "orator-std";
  padding: 1rem;
  font-size: 1.5em;
  line-height: 1.3em;
}

.tbm_playlist {
  background-color: $tbm-main;
  color: white;
  font-family: "verveine";
  padding: 1rem;
  font-size: 1.5em;
  line-height: 1.3em;
}

#lr_playlist {
  background-color: $lia-main;
  .card {
    background-color: $lia-main;
  }
  .lr_spot {
    width: 100px;
  }
}

#bfts_playlist {
  background-color: $bfts-main;
  .card {
    background-color: $bfts-main;
  }
  .bfts_spot {
    width: 100px;
  }
}

#tbm_playlist {
  background-color: $tbm-main;
  .card {
    background-color: $tbm-main;
  }
  .tbm_spot {
    width: 100px;
  }
  h3{
    color: white;
    margin-bottom: 31.9rem;
    text-align: center;
  }
}


//Related Links styles
.related_links {
  .card{
    background-color: $lia-main;
    transition: background-color 0.5s ease;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(4, 6, 9, 0.25);
    -moz-box-shadow: 0px 0px 40px 0px rgba(4, 6, 9, 0.25);
    box-shadow: 0px 0px 40px 0px rgba(4, 6, 9, 0.25);
    h1 {
      color: white;
      margin: 1rem auto;
      font-family: "viktor-script";
    }
    img {
      margin-right: 1rem;
    }
    h4 {
      margin-top: .5rem;
    }
  }
}


//Video section styles
#videos {
  margin: 2rem 0 0 0;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);

  .vid_view {
    margin: 0 auto;
  }
}



@media only screen and (max-width: 420px) {
  .header {
    img {
      margin-top: 28vh;
    }
  }
}
